:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  
  --paper-light:#FFFFFF;
  --paper-dark:#424242;
  
  --primary-main:#03ACF2;
  --primary-light:#B3E5FC;
  --primary-dark:#0077AA;
  
  --secondary-main:#4CAF50;
  --secondary-light:#C8E6C9;
  --secondary-dark:#357A38;

  --text-primary:rgba(0, 0, 0, 0.87);
  --text-secondary:rgba(0, 0, 0, 0.54);
  --text-disabled:rgba(0, 0, 0, 0.38);
  --text-field:rgba(0, 0, 0, 0.42);
  --text-secondary-dark-mode:rgba(255,255,255,0.7);

  --default-light:#FAFAFA;
  --default-dark:#303030;
  
  /* axios */
  /* routers */
  /* bootstrap */
  /* react icons */
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  padding: 0%;
  display: flex;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}